activate_env.sh
.env
env/*
multirun
multirun/
predictions/
predictions
plots/
corruption_check/
data_validation/
output/
wandb
wandb/
src.egg-info/*
data/*
slurmlauncher/*
ckpts/*
outputs/*
.venv/*
.vscode/*
.ipynb_checkpoints/*
*.pyc
**/__pycache__/
*.log
test_submission.slurm
config/config_single_run.yaml
src/artifacts
*.swp
*.DS_Store
aux_files/
src/artifacts*
src/metrics_calculations
src/unida-tta-exps_*
*/.ipynb_checkpoints/
*.pkl
outputs_lead/*
updated_outputs/
outputs_tasc/
src/tools/.ipynb_checkpoints/
src/tools/*.xlsx
src/tools/*.csv
predictions_no_unk
src/tools/imgs/
old_plots
plot_data/
